.red{
    background-color : #ff3333;
}

.green{
    background-color : #80ff00	;
}

.yellow{
    background-color : #ffff33;
}

.blue{
    background-color : #00bfff	;
}

h1{
    font-size : 50px;
}

body{
    background-color : #e6e6e6;
    background-image: url("bgArt/lt_img.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    height: 250px;
    width : 250px;
    border : 5px;
    border-style: solid;
    border-radius : 20%;
    margin : 25px 25px 25px 25px;

}
.strtbtn{
    height : 100px;
    width : 200px;
    border : 5px;
    border-style : solid;
    font-family: 'Press Start 2P', cursive;
    border-radius : 15%;
    font-size : 30px;
    font-weight: bold;
    text-align: center; 
}
.top_part{
    text-align : center;
    margin-bottom : 2%;
    margin-top : 2%;
    font-family: 'Press Start 2P', cursive;
    color : black;
    font-weight: bold;
}
.alert{
    z-index : 1000;
    position: fixed;
    top: 5px; 
    left:2%;
    width: 96%;
}